# .gitignore dla projektu React + Django

# React (frontend)

# Węzły zależności
/node_modules/

# Foldery build i dist, produkcja
/build/
/dist/

# Pliki cache i logi
/.cache/
/npm-debug.log
/yarn-debug.log
/yarn-error.log

# IDE (w tym VSCode)
.vscode/

# Pliki konfiguracyjne IDE
.idea/
*.sublime-workspace
*.sublime-project

# Typy build dla React
*.env

# Django (backend)

# Wirtualne środowisko (virtualenv)
/venv/
/env/
/.venv/
/.env/

# Pliki SQLite
*.sqlite3

# Zawartość folderu migrującego bazy danych
/migrations/

# Pliki Django cache i logów
*.log
*.pot
*.pyc
__pycache__/

# Zawartość folderu statycznych plików
/static/

# Zawartość plików dzienników aplikacji
/db.sqlite3

# Django SECRET_KEY
*.env

# Inne, z którymi może być problem:
# Pamięć podręczna Pythona (nawiasem mówiąc, jeśli używasz Pythona)
*.pyo
*.pyd
*.pyc

# Pliki systemowe (zwykle ukryte)
.DS_Store
Thumbs.db

*storybook.log
