html, body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  text-align: center;
}

h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  color: #333;
  font-weight: normal;
}

.main-container {
  width: 375px;
  padding: 20px;
  margin-top: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-container label {
  font-size: 15px;
  margin-bottom: 5px;
  font-family: 'Nunito', sans-serif;
  color: #333;
}

.input-container input {
  width: 90%;
  height: 40px;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 6px;
  font-size: 16px;
  padding: 0 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
  width: 100%;
}
#role{
  appearance: none;
  width: 97%;
  font-size: 16px;
  cursor : pointer;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 6px;
  padding-left: 10px;
  height: 43px;
}

.role {
  font-size: 16px;
  color: #7a7a7a;
  margin-bottom: 5px;
  margin-top: 5px;

}

.input-field {
  appearance: none;
  width: 96%;
  display: flex;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 6px;
  height: 40px;
  font-size: 14px;
  cursor: pointer;
  padding-left: 10px;
}

 
button[type="submit"] {
  margin-top: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: white;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: none;
  background-color: rgba(127, 86, 217, 1);
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: rgba(107, 66, 197, 1);
}

ul {
  display: flex;
  flex-direction: column;
  width: 395px;
  padding: 0;
  margin-top: 30px;
}

li {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  width: 100%;
  border: 1px solid rgba(208, 213, 221, 1);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 15px;
}
.user-name {
  font-weight: 600;
  font-size: 16px;
  color: #191D23;
  font-family: 'Manrope', sans-serif;
}

li:hover {
  background-color: rgba(127, 86, 217, 0.23);
}

li span {
  flex: 1;
}

li button {
  background: none;
  border: none;
  color: #7a7a7a;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s;
}

li button:hover {
  color: #b759e6;
}

.delete-button {
  background: none;
  border: none;
  color: rgb(192, 195, 200);
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-button:hover {
  color: #b759e6;
}

.checkbox-privacy input[type="checkbox"] {
  display: none;
}

.checkbox-privacy {
  color: #333;
  font-family: 'Inter', sans-serif;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-left: 15px;
  margin-bottom: 30px;
}

.checkbox-privacy span {
  display: inline-block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(208, 213, 221, 1);
  border-radius: 30%;
  background-color: white;
  transition: background-color 0.3s, border-color 0.3s;

}

.checkbox-privacy input[type="checkbox"]:checked + span {
  background-color: #b759e6;
  border-color: #ab57d6;
}

.checkbox-privacy input[type="checkbox"]:checked + span::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 4px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}