.add-container {
  background-color: #e7ebf3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: Arial, sans-serif;
  padding-top: 20px;
}

.add-title {
  font-size: 24px;
  font-weight: bold;
  color: #1a202c;
  margin-bottom: 20px;
}

.add-form {
  margin-top : 75px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
}

.form-group {
  margin-bottom: 15px;
  width: 100%; /* Ustawiamy szerokość dla każdego elementu w formularzu */
}

.form-group label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group select,
.form-group textarea,
.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-group textarea {
  resize: none;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.form-row .form-group {
  flex: 1; /* Sprawia, że wszystkie grupy w wierszu będą miały równą szerokość */
}

.form-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.cancel-button,
.submit-button {
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-button {
  background-color: #f4f4f4;
  color: #333;
}

.submit-button {
  background-color: #6c63ff;
  color: white;
}

.submit-button:hover {
  background-color: #574bdb;
}

.cancel-button:hover {
  background-color: #e0e0e0;
}
