.search-container {
  display: flex;
  flex-direction: column;
  align-items: center; 

  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ced7e4;


}

.search-bar {
  display: flex;
  align-items: center;
  width: 55%;
  background-color: #ffffff; 
  border: 1px solid #e5e5e5; 
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 10px;
  margin-bottom: 40px;
  margin-top : 50px;
}

.search-bar input {
  flex: 1;
  border: none;
  font-size: 16px;
  color: #aaa;
  outline: none;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #68c5cc;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-bar button:hover {
  background-color: #5bd6df;
}

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 50%;
  height: 35%;
  padding: 40px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 15px #aacfd0;
}

.category-button {
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: #ced7e4;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;

  transition: background-color 0.3s, transform 0.2s;
}

.category-button:hover {
  background-color: #e6f7ff;
  transform: scale(1.05);
}

.category-button.active {
  background-color: #9ebde7;
  color: white;
  border-color: #9ebde7;
}

.category-button:active {
  transform: scale(0.95);
}
.google-login-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.google-login-container .google-button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
